
*{
    border:1px solid black;
}

body{
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";
    grid-template-rows:33vh 33vh 33vh;
    grid-template-columns: 33vw 33vw 33vw;

}
#grid{
    grid-area: e;
    background-color: blue;
    position: relative;
    
}
#cell{
   position: absolute;
   top: 50px;
   left: 50px;

   height: 100px;
   width: 100px;

   background-color: green;
}