body,html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
body{
    display: grid;
    grid-column: 3;
    
}
#school{
 
    background-color: red;
   
}
#stream{
 
    background-color: orange;

}
#class{
  
    background-color: green;
    
}
#year{
 
    background-color: blue;
  
}
#student{
  
    background-color: brown;

}